* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
  background: url(/images/background1.jpg);
  background-size: cover;

}

.container {
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Space between items */
  align-items: stretch; /* Make all children the same height */
  margin-bottom: 20px;
  
}

section {
  flex: 1; /* Allow sections to grow and fill the available space */
  margin: 0 10px; /* Optional: Add some spacing between sections */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  box-sizing: border-box;
  padding: 10px; /* Optional: Add padding for better content spacing */
  overflow: auto; /* Ensure the content is scrollable if it grows too large */
  
}

 ul{
  list-style: none;
 }

 li{
  list-style:none ;
 }

 a{
  text-decoration: none;
  color: black;
 }

 .sideBar {
  position: fixed;
  left: -250px;
  width:200px;
  height: 100%;
  background: #fff;
  transition:all .5s ease;
 }

 .sideBar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #b5838d;
  user-select: none;
 }

 .sideBar ul li{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 16px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1) ;
  border-bottom: 1px solid rgb(167, 167, 167);
  transition: .4s;
 }


 ul li:hover{
  padding-left: 50px;
 }
 
 #check {
  display: none;
 }

 label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  background: #b5838d;
  border-radius: 3px;
 }

 label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  background: transparent;
  padding:  6px 12px ;
  transition: all .5s ;
 }

 label #cancel {
  z-index: 1111;
  left: -157px;
  top: 17px;
  font-size: 25px;
  color: #333;
  padding: 4px 9px;
  transition: all .5s ease ;
 }

 #check:checked ~ .sideBar{
  left: 0;
 }

 #check:checked ~ label #btn{
  left: 200px;
  opacity: 0;
  pointer-events: none;
 }
 #check:checked ~ label #cancel{
  left: 157px;
 }


/* Style for the main content */
.main {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 200px;
  text-align: justify;
  
}

#AddWorkout {
  width: 40%; /* Make the section take up 40% the page */
  background-color: #eeeeee; /* background for the section */
  padding: 20px; /* Add padding inside the section */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px;
  float: left;
}

#AddWorkout,#workout-history h2 {
  margin-bottom: 20px; /* Space below the heading */
  color: #333; /* Darker text color for the heading */
  text-align: center; /* Center the heading */
}

#workout-form label {
  display: block; /* Each label on its own line */
  margin-bottom: 5px; /* Space below the label */
  font-weight: bold; /* Bold text for labels */
}

#workout-form input,
#workout-form select {
    width: 100%; /* Full width inputs and selects */
    padding: 10px; /* Padding inside the inputs and selects */
    margin-bottom: 15px; /* Space below the inputs and selects */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Rounded corners */
}

#workout-form button {
    width: 100%; /* Full width button */
    padding: 10px; /* Padding inside the button */
    background-color: #b5838d; /* Dark background color for the button */
    color: #fff; /* White text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Larger text for the button */
}

#workout-form button:hover {
    background-color: #c8a3aa; /* Slightly lighter background on hover */
}

#workout-history{
  width: 57%; /* Make the section take up 40% the page */
  background-color: #eeeeee; /* background for the section */
  height: 47vh;
  display: block;
  border-radius: 5px;
  padding: 20px; /* Add padding inside the section */
  border-radius: 5px; /* Rounded corners */
  float: right;
  overflow: auto;
}

#workout-table {
  width: 100%; /* Table takes up 60% of the page width */
  margin: 0 auto; /* Center the table horizontally */
  border-collapse: collapse; /* Collapse borders to avoid double lines */
  background-color: #dad7cd; /* background for the table */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
}

/* Style for table header */
#workout-table th {
  background-color: #b5838d; /* Dark background for headers */
  color: #fff; /* White text color for headers */
  padding: 10px; /* Padding inside header cells */
  text-align: left; /* Align text to the left */
}

/* Style for table rows */
#workout-table td {
  padding: 10px; /* Padding inside data cells */
  border-bottom: 1px solid #fff; /* Light gray border between rows */
  background-color: #fff;
}

/* Style for alternating row colors */
#workout-table tr:nth-child(even) {
  background-color: #fff; /* Light background for even rows */
}

#workout-table button {
  background-color: #fff; /* Dark background color for the button */
  color: #333; /* White text color */
  border: none; /* Remove default border */
  cursor: pointer; /* Pointer cursor on hover */
  font-size:20px; /* Larger text for the button */
  margin-left: 15px;
}

.checklist{
  width: 200%;
  max-width:840px;
  background-color:#d6d5d5 ;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.checklist h2{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  border: 1px solid #cecccc;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.row button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #b5838d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.row button:hover{
  background-color: #c8a3aa;
}

#list-container li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

#list-container li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(/images/Untitled\ design.png); /* i need to find another photo with darker circle color */
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}

#list-container li.checked{
  color: #555;
  text-decoration: line-through;

}

#list-container li.checked::before{
  color: #555;
  text-decoration: line-through;
  background-image: url(/images/checked.png); /* i need to find another photo with darker circle color */
}

#list-container li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #333;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

#list-container li span:hover{
  background:#edeef0 ;
}

#weights {
  width: 100%; /* Make the section take up 100% the page */
  background-color: #eeeeee; /* background for the section */
  padding: 20px; /* Add padding inside the section */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  font-size: bold;
}

#weights h2 {
  margin-bottom: 20px;
}

#weights label {
  margin-bottom: 5px; /* Space below the label */
}

#weights input {
    width: 15%; /* Full width inputs and selects */
    padding: 10px; /* Padding inside the inputs and selects */
    margin-bottom: 15px; /* Space below the inputs and selects */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Rounded corners */
    font-size: 15px;
}

#weights button {
    width: 7%; /* Full width button */
    padding: 10px; /* Padding inside the button */
    background-color: #b5838d; /* Dark background color for the button */
    color: #fff; /* White text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Larger text for the button */
}

#weights-table button {
  color: #333;
  background: none;
  font-size: 20px;
}

#weights #wsubmit:hover {
  background-color: #c8a3aa; /* Slightly lighter background on hover */
}


#weights-table {
  width: 100%; /* Table takes up 60% of the page width */
  margin: 0 auto; /* Center the table horizontally */
  border-collapse: collapse; /* Collapse borders to avoid double lines */
  background-color: #dad7cd; /* background for the table */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
}

#weights-table th {
  background-color: #b5838d; /* Dark background for headers */
  color: #fff; /* White text color for headers */
  padding: 10px; /* Padding inside header cells */
  text-align: left; /* Align text to the left */
}

/* Style for table rows */
#weights-table td {
  padding: 10px; /* Padding inside data cells */
  border-bottom: 1px solid #fff; /* Light gray border between rows */
  background-color: #fff;
}

/* Style for alternating row colors */
#weights-table tr:nth-child(even) {
  background-color: #fff; /* Light background for even rows */
}



#calorie-calc {
  width: 50%;
  width: 40%; /* Make the section take up 40% the page */
  background-color: #eeeeee; /* background for the section */
  padding: 20px; /* Add padding inside the section */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px;
  
}

#calorie-calc,#calculator h2 {
  margin-bottom: 20px; /* Space below the heading */
  color: #333; /* Darker text color for the heading */
  text-align: center; /* Center the heading */
}

#calculator label {
  display: block; /* Each label on its own line */
  margin-bottom: 5px; /* Space below the label */
  font-weight: bold; /* Bold text for labels */
}

#calculator input,
#calculator select {
    width: 100%; /* Full width inputs and selects */
    padding: 10px; /* Padding inside the inputs and selects */
    margin-bottom: 15px; /* Space below the inputs and selects */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Rounded corners */
}

#calorie-calc #calculator button {
    width: 100%; /* Full width button */
    padding: 10px; /* Padding inside the button */
    background-color: #b5838d; /* Dark background color for the button */
    color: #fff; /* White text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Larger text for the button */
}

#calorie-calc #calculator button:hover {
    background-color: #c8a3aa; /* Slightly lighter background on hover */
}


